.code-wrapper {
    background: #e6ebf1;
}

.code-wrapper .fas.fa-angle-down {
    transform: none;
    transition: transform 0.2s ease-in-out;
    background: transparent;
}

.code-wrapper .fas.fa-angle-down.collapsed {
    transform: rotate(-90deg);
}

.collapseing,
.collapsed {
    background: transparent;
}

.code-wrapper>i {
    color: #777;
    margin-left: 10px;
    line-height: 2rem;
}

.code-wrapper>span {
    color: #777;
    margin-left: 10px;
    font-weight: bold;
}

.code-wrapper {
    margin-bottom: 16px;
}

.markdown-body pre {
    margin-bottom: 0;
}