figure.highlight {
  background: #e6ebf1;
  border-radius: 0.5rem;
}
figure.highlight table {
  border-radius: 0 0 0.5rem 0.5rem;
}
figure.highlight .fas.fa-angle-down {
  transform: none;
  transition: transform 0.2s ease-in-out;
}
figure.highlight .fas.fa-angle-down.collapsed {
  transform: rotate(-90deg);
}
figure.highlight > i {
  color: #777;
  margin-left: 10px;
  line-height: 2rem;
}
figure.highlight > span {
  color: #777;
  margin-left: 10px;
  font-weight: bold;
}
figure.highlight td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
}
.copy-btn {
  top: 5px;
  font-size: 1rem;
}
.copy-btn > i {
  font-size: 0.875rem;
  font-weight: bold;
}
.copy-btn-dark {
  color: #2f4f4f;
}
